<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Appointment</title>
</head>

<body>
    {{> header}}
    <div class="container">

        <div class="inner-container">
            <div class="title"></div>
            <button id="create-appointment" class="appointment-button">Make Appointment</button>
            <button id="check-appointment" class="appointment-button">Check Appointment</button>
            <button id="update-appointment" class="appointment-button">Update Appointment</button>
            <button id="cancel-appointment" class="appointment-button">Cancel Appointment</button>
        </div>
    </div>
</body>
</html>